spring-boot-soap-producer/users.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="https://roytuts.com/UserService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://roytuts.com/UserService" targetNamespace="https://roytuts.com/UserService">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://roytuts.com/UserService">
	<xs:element name="getUserDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUserDetailsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="users" type="tns:user"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="user">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="email" type="xs:string"/>
			<xs:element name="address" type="tns:address"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="address">
		<xs:sequence>
			<xs:element name="street" type="xs:string"/>
			<xs:element name="city" type="xs:string"/>
			<xs:element name="state" type="xs:string"/>
			<xs:element name="zip" type="xs:int"/>
			<xs:element name="country" type="xs:string"/>
			<xs:element name="addressType" type="tns:addressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="addressType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PERMANENT"/>
			<xs:enumeration value="COMMUNICATION"/>
			<xs:enumeration value="OFFICIAL"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getUserDetailsResponse">
    <wsdl:part element="tns:getUserDetailsResponse" name="getUserDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserDetailsRequest">
    <wsdl:part element="tns:getUserDetailsRequest" name="getUserDetailsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserPort">
    <wsdl:operation name="getUserDetails">
      <wsdl:input message="tns:getUserDetailsRequest" name="getUserDetailsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getUserDetailsResponse" name="getUserDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserPortSoap11" type="tns:UserPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUserDetails">
      <soap:operation soapAction=""/>
      <wsdl:input name="getUserDetailsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserPortService">
    <wsdl:port binding="tns:UserPortSoap11" name="UserPortSoap11">
      <soap:address location="http://localhost:9999/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
